GH2_PASSWORD=
GH2_ACTIVE_MODEL=deepseek-chat
GH2_MODEL_DEEPSEEK_CHAT_API_KEY=
GH2_MODEL_DEEPSEEK_CHAT_BASE_URL=https://api.deepseek.com/v1
GH2_MODEL_QWEN_PLUS_API_KEY=
GH2_MODEL_QWEN_PLUS_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
GH2_MODEL_CLAUDE_3_5_HAIKU_20241022_API_KEY=
GH2_MODEL_CLAUDE_3_5_HAIKU_20241022_BASE_URL=https://api.hardon.work
